---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h3>Conference Papers</h3>

<ul>
  <li>
    Banerjee, A., Aisyah, F. N., Satish, A., Wörndl, W., & Deldjoo, Y. (2025). Collab-REC: An LLM-based agentic framework for balancing recommendations in tourism. arXiv. https://arxiv.org/abs/2508.15030
  </li>
  <li>
    Banerjee, A., Satish, A., Aisyah, F. N., Wörndl, W., & Deldjoo, Y. (2025). 
    <em>SynthTRIPs: A knowledge-grounded framework for benchmark data generation for personalized tourism recommenders.</em> 
    In Proceedings of the 48th International ACM SIGIR Conference on Research and Development in Information Retrieval (pp. 3743–3752).
  </li>
  <li>
    Chen, D., Satish, A., Khanbayov, R., Schuster, C. M., & Groh, G. (2025). 
    <em>Tuning into bias: A computational study of gender bias in song lyrics.</em> 
    Proceedings of LaTeCH-CLfL, 2025, 117–129.
  </li>
  <li>
    Banerjee, A., Satish, A., & Wörndl, W. (2024). 
    <em>Enhancing tourism recommender systems for sustainable city trips using retrieval-augmented generation.</em> 
    In International Workshop on Recommender Systems for Sustainability and Social Good (pp. 19–34). Springer.
  </li>
  <li>
    Satish, A., Bhamare, A., Hoskote, D., Raj, V., & Srinivasa, G. (2023). 
    <em>IREAD: Interpretable recognition and automated deconstruction of semantics in written English.</em> 
    EDULEARN23 Proceedings, 2266–2275. IATED.
  </li>
  <li>
    Satish, A., Shankar, S. B., & Kavitha, K. N. (2021). 
    <em>Naagarik: A machine learning framework for intelligent analysis of civic issues.</em> 
    In 2021 Asian Conference on Innovation in Technology (ASIANCON) (pp. 1–6). IEEE.
  </li>
</ul>


<!-- New style rendering if publication categories are defined
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


 -->
